<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sga" connectionString="Data Source = .\SQLEXPRESS; Initial Catalog = SGA; Integrated Security = false; User ID = sa; Password = 123456"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>